.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-wrapper {
    background: white;
    width: 100%;
    max-width: 750px;
    align-items: center;
    justify-items: center;
}

.game-wrapper h1{
    color: black;
}

.game-info {
    display: flex;
    flex-wrap: wrap;
}

.game-info p,h2 {
    display: flex;
    flex: 1;
    color: black;
    align-items: center;
    justify-content: center;
}

.game-info .hangman-img {
    flex: 2;
}

.welcome {
    display: flex;
    justify-items: center;
}

.rc-slider{
    padding-bottom: 30px;
}