@import './reset.css';
@import './skeleton.css';
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Fredoka+One|Lato:400,400i,700,900');
body {
    background: #c6c6c6;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.nav-container {
    width: 100%;
    background: #7dd3ef;
}

.nav-container {
    padding-top: 1rem;
}

nav, header {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}

header h1 {
    font-family: 'Fredoka One', sans-serif;
    letter-spacing: .01rem;
}

header h1 a, header h1 a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

header h1 {
    font-size: 6rem;
    letter-spacing: .1rem;
    margin: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin Sketch', sans-serif;
    letter-spacing: .01rem;
    margin-bottom: .5rem;
}

h1 {
    font-size: 4.5rem;
    font-weight: bold;
}

h2 {
    font-size: 3.5rem;
}

.carousel h2, .lobby h2 {
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 2rem;
    color: #a3a3a3;
}

a:hover {
    color: #9bc1bc;
}

.bold {
    font-weight: 900;
}

em {
    font-style: italic;
}

main {
    background: #c6c6c6;
}

.button {
    height: 2.5rem;
    line-height: 2.5rem;
    border-color: #fff;
    width: 100%;
    padding: 0;
}

.button:hover, .button:focus {
    background-color: #fff;
    border-color: #fff;
}

.button:disabled, .button:disabled:hover {
    background-color: #c6c6c6;
    border-color: #c6c6c6;
    text-decoration: line-through;
}

.button-primary:disabled, .button-primary:disabled:hover {
    background-color: #c6c6c6;
    border-color: #c6c6c6;
    text-decoration: line-through;
}

.table, tr, th, td {
    color: #000000;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .button, a, button {
        height: 18px;
        padding: 0 10px;
        color: #555;
        text-align: center;
        font-size: 11px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: .1rem;
        border-radius: 4px;
        border: 1px solid #bbb;
        cursor: pointer;
    }
}